<!DOCTYPE html>
<html lang="en" id="divTheme" class="light-theme">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>OP Translations</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'translations/style.css' %}" />
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Cinzel|Droid+Serif|Fredericka+the+Great|Henny+Penny|IM+Fell+Great+Primer+SC|Nosifer|Old+Standard+TT|Princess+Sofia|Rock+Salt|Ruslan+Display|Sahitya" rel="stylesheet">
  </head>
  <body>
<div id="forTheme" class="light-theme">
    <div class="page-header">
            <h1 class="title">OP Translations</h1>
        </div>
    <div class="container">
    <div class="row">

        <!-- Left side of page content -->
        <div class="col-md-3 col-lg-3">
            <!-- Nav bar for desktops -->

        <div class="panel panel-primary visible-md visible-lg">
        <div class="panel-heading">
        <h4>Navigation</h4>
        </div>
        <ul class="list-group">
            <li class="list-group-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="list-group-item"><a href="{% url 'projects' %}">Projects</a></li>
            <li class="list-group-item"><a href="{% url 'news' %}">News</a></li>
            <li class="list-group-item"><a href="{% url 'contact' %}">Contact</a></li>
            <li class="list-group-item"><a href="{% url 'rss' %}">Release RSS</a></li>
            <li class="list-group-item"><a href="#" id="swapColors">Invert Colors</a></li>
        </ul>
        </div>

        <nav class="navbar navbar-default navbar-static-top visible-sm">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'projects' %}">Projects</a></li>
                    <li><a href="{% url 'news' %}">News</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="#" id="swapColorsMobile">Invert Colors</a></li>
                </ul>
            </div>
        </nav>

        <div class="dropdown-container">
        <div class="dropdown visible-xs">
            <button class="btn btn-success dropdown-toggle" type="button" id"dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
                Navigation
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'projects' %}">Projects</a></li>
                <li><a href="{% url 'news' %}">News</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" id="swapColorsMobilexs">Invert Colors</a></li>
            </ul>
        </div>
        </div>
        </div> <!-- End left side of page content -->


        <!-- Middle of page content -->
        <div class="col-md-9 col-lg-9">
            {% block content %}
            {% endblock %}
        </div>

        <!-- End middle of page content -->

        <!-- Right side of page content
        <div class="col-md-3">
            <h4>Extra Links</h4><br/>
            <ul>
                <li><a href="https://twitter.com/op_translations">Twitter</a>
            </ul>
        </div>
         End right side of page content -->

    </div> <!-- End first row of content - can be copy/paste -->
    </div> <!-- container div -->
</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'translations/functions.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>