{% extends 'translations/base.html' %}

{% block content %}
{% if not projects %}
<div class="summary-title">Nothing here, yet!</div>
{% endif %}

{% for project in projects %}
<hr>
<h2 class="item-title">{{ project.title }}</h2>

<p class="item-author">
    by {{ project.author }}
</p>
<p class="item-sub-title">Original title: {{ project.jptitle }} ({{ project.jpengtitle }})</p>
<p class="item-translators"> Translated by:
    {% for translator in project.translators.all %}
    {{ translator.persona }}{% if not forloop.last %},{% endif %}
    {% endfor %}
 |  Edited by:
    {% for editor in project.editors.all %}
    {{ editor.persona }}{% if not forloop.last %},{% endif %}
    {% endfor %}
<div class="summary-title">
Summary:
</div>
<div class="summary-text">
{{ project.summary | safe }}
</div>
<br/>
<div class="toc-link"><a href="{% url 'table_of_contents' ppk=project.pk %}">Table of Contents</a></div>
<hr>

{% endfor %}
{% endblock %}