{% extends 'translations/base.html' %}

{% block content %}
<hr>
<h2 class="item-title">{{ project.title }}</h2>
<div style="text-align: left !important">
<p class="item-author">
    by {{ project.author }}
</p>
<p class="item-sub-title">Original title: {{ project.jptitle }} ({{ project.jpengtitle }})</p>
<p class="item-translators"> Translated by:
    {% for translator in project.translators.all %}
    {{ translator.persona }}{% if not forloop.last %},{% endif %}
    {% endfor %}
 |  Edited by:
    {% for editor in project.editors.all %}
    {{ editor.persona }}{% if not forloop.last %},{% endif %}
    {% endfor %}
</p>
<div class="summary-title">
Summary:
</div>
<div class="summary-text">
{{ project.summary | safe }}
</div>
</div>
<br/>
<hr>
<div id="toc-page">
<h3 style="font-family: Old Standard TT, serif;">{{ project_title }} Table of Contents</h3>
{% for chapter in chapters %}
    <div style="font-family: Old Standard TT, serif; padding-top:0.4em">
        <a href="{% url 'chapter_display' pt=chapter.project.slug num=chapter.number %}">
        {% if chapter.number == 0 %}
            Prologue - {{ chapter.title }}
        {% else %}
            Chapter {{ chapter.number }} - {{ chapter.title }}
        {% endif %}
        </a>
    </div>
{% endfor %}
</div>
{% endblock %}